<div class="large-12 large-centered columns content-box row" id="institution-show-page">
  <h3>
    <%= @institution.name %>
  </h3>
  <div class="large-8 columns large-centered searchBox" id="institution-show-searchbox">
    <div class="row">
        <%= form_tag("/institutions/#{@institution.id}/programs", method: 'get') do %>
          <%= text_field_tag :search, params[:search],placeholder: "search programs", class: 'form-control typeahead'%>
          <%= submit_tag "Search programs", name: nil, class: 'tiny button' %>
        <% end %>
    </div>
  </div>
  <hr>
    <%= render 'program' %>
  <hr>
    <div class="row users">
      <h3>Students of this school</h3>
      <% find_users_of(@institution).each do |user| %>
      <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
      <% end %>
    </div>
  <hr>
    <%= render 'review' %>
  <ul class="small-8 columns button-group">
    <li>
      <%= link_to 'Back', institutions_path, class: 'button' %>
    </li>
  </ul>
</div>
